@tailwind base;
@tailwind components;
@tailwind utilities;

.flip-box-inner {
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
    /* -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-box-back {
    transform: rotateY(180deg);
}
