body {
  /* background-color: lightgray; */
  max-width: 100vh;
  margin: 0 auto;
}

.flex-container-r {
  display: flex;
  flex-direction: row;
}

.flex-container-c {
  display: flex;
  flex-direction: column;
}

.card {
  flex: 1 1 auto;
}

.text-vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.myPhoto {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 10px;
}

html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  min-height: 100vh;
}

ul {
  list-style-type: none;
  padding: 0;
}

.start-end-date {
  font-size: 0.8em;
  color: gray;
}
